<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Fav Foods</h1>
            <% foods.forEach(food => {%>
                <p><%= food %></p>
            <% }) %>
        <p>Potatoes</p>
    </body>
</html>