<form method="POST" action="/add_person" >
    <input name="SIN" type="text" placeholder="SIN">
    <input name="name" type="text" placeholder="name">
    <button type="submit">Add Person</button>
</form>
<% people.forEach(person => {%>
    <p><%= person.name %>, <%= person.SIN %> </p>
<% }) %>